In [1]:
import pandas as pd
df = pd.DataFrame([
                   [180000, 110, 18.9, 1400], 
                   [360000, 905, 23.4, 1800], 
                   [230000, 230, 14.0, 1300], 
                   [60000, 450, 13.5, 1500]],
                   columns=['Col A', 'Col B',
                            'Col C', 'Col D'])
display(df)

    Col A  Col B  Col C  Col D
0  180000    110   18.9   1400
1  360000    905   23.4   1800
2  230000    230   14.0   1300
3   60000    450   13.5   1500

In [2]:
df_min_max_scaled = df.copy()
for column in df_min_max_scaled.columns:
    df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())    
print(df_min_max_scaled)

      Col A     Col B     Col C  Col D
0  0.400000  0.000000  0.545455    0.2
1  1.000000  1.000000  1.000000    1.0
2  0.566667  0.150943  0.050505    0.0
3  0.000000  0.427673  0.000000    0.4

In [3]:
df_z_scaled = df.copy()
for column in df_z_scaled.columns:
    df_z_scaled[column] = (df_z_scaled[column] -
                           df_z_scaled[column].mean()) / df_z_scaled[column].std()       
display(df_z_scaled)

      Col A     Col B     Col C    Col D
0 -0.221422 -0.895492  0.311486 -0.46291
1  1.227884  1.373564  1.278167  1.38873
2  0.181163 -0.552993 -0.741122 -0.92582
3 -1.187625  0.074922 -0.848531  0.00000

In [4]:
df_max_scaled = df.copy()
for column in df_max_scaled.columns:
    df_max_scaled[column] = df_max_scaled[column]  / df_max_scaled[column].abs().max()
display(df_max_scaled)

      Col A     Col B     Col C     Col D
0  0.500000  0.121547  0.807692  0.777778
1  1.000000  1.000000  1.000000  1.000000
2  0.638889  0.254144  0.598291  0.722222
3  0.166667  0.497238  0.576923  0.833333